 ///Variables

 $White: hsl(0, 0%, 100%);
 $DarkOrange: hsla(25, 97%, 53%, 0.631);
 $Orange: hsl(25, 97%, 53%);
 $LightGrey: hsl(217, 12%, 63%);
 $MediumGrey: #7c8798;
 $DarkBlue: hsl(213, 19%, 18%);
 $DarkBlue2: hsla(217, 16%, 26%, 0.439);
 $VeryDarkBlue:hsl(216, 12%, 8%);


 * {
     font-family: 'Overpass', sans-serif;
     box-sizing: border-box;
     overflow-y: hidden;
 }

 p {
     font-size: 15px;
 }

 body {
     background: $VeryDarkBlue;
 }

 .container {
     display: grid;
     place-content: center;
     height: 100vh;
 }

 .rating {
     display: flex;
     justify-content: center;
     text-align: center;
     max-width: 27rem;
     background-color: $DarkBlue;
     color: $White;
     min-height: 27rem;
     border-radius: 15px;
     padding: 2.5rem 2.5rem;

     &__initScreen {
        //  display: none;
     }

     
     &__star {
         text-align: left;

         img {
             width: 3.25rem;
             border-radius: 50%;
             background: $DarkBlue2;
             padding: 1rem;
         }
     }

     &__title {
         h1 {
             font-weight: 400;
             font-size: 1.5rem;

         }
     }

     &__desc {
         color: $MediumGrey;
         font-size: 1rem;
         line-height: 27px;
     }

     &__numbers {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         justify-content: space-between;
         align-items: center;
         gap: 1rem;
         margin-top: 2rem;
     }

     &__singleNum {
         background: $DarkBlue2;
         width: 3rem;
         height: 3rem;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         overflow: hidden;
         color: $MediumGrey;
         cursor: pointer;
         transition: all .2s;

         &:hover {
             background: $Orange;
             color: $White;
             transition: all .2s;
         }
     }


     &__tyScreen {
         display: none;
     }

     &__result {
         background-color: $DarkBlue2;
         border-radius: 15px;
         align-items: center;
         margin-top: 1.5rem;

         p {
             color: $DarkOrange;
             font-weight: 400;
             font-size: 1rem;
             padding: .75rem 1rem;
             margin: 0;

         }
     }

     &__tyTitle {
         color: $White;
         font-weight: 400;
         font-size: 2rem;
         margin-top: 2rem;

     }

     &__tyDesc {
         color: $MediumGrey;
         margin-top: 1.5rem;
         font-size: 1em;
     }
 }



 .submitBtn {
     background-color: $Orange;
     border-radius: 31px;
     border-style: none;
     box-sizing: border-box;
     color: $White;
     cursor: pointer;
     display: inline-block;
     width: 100%;
     padding-top: 1rem;
     padding-bottom: 1rem;
     text-transform: uppercase;
     margin-top: 3rem;
     outline: none;
     transition: all .2s;

     &:focus,
     &:hover {
         background-color: $White;
         transition: all .2s;
         color: $Orange;
     }
 }

 .dNone {
    display: none;
 }

 .dBlock {
    display: block;
 }
